<ion-header>
  <ion-toolbar>
    <ion-title>
      Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
            <ion-card-title>Give us your feedback</ion-card-title>
        </ion-card-content>
        <ion-item>
        <p>We would like your feedback to improve our services. Click <a href="https://docs.google.com/forms/d/16SkTJAkoZXsFvt4V_3OrXSAh6fveK6wYuzcEssmGcgE/edit">here</a></p>
          </ion-item>
      </ion-card>
</ion-content>
