<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
          <ion-img src="/assets/contact.png"></ion-img>
            <ion-card-title>Contact us for support</ion-card-title>
        </ion-card-content>
        <ion-item>
            Bhilwara Infotechnology Limited<br>
            #244, Fortune Summit Business Park<br>
            1st Floor, Hosur Road <br>
            Near Silk Board Junction<br>
            Bengaluru, India – 560068.
          </ion-item>
            
          <ion-item>
              <ion-icon name="call"></ion-icon> +91-80-46306666<br>
          </ion-item>

          <ion-item>
              <ion-icon name="mail"></ion-icon> info@bhilwarainfo.com<br>
          </ion-item>
          <p>Click <a href="http://bhilwarainfo.com/index.php/contact-us/">here </a>for more information.</p>
      </ion-card>
  
  
</ion-content>
