<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
          <ion-img src="/assets/contact.png"></ion-img>
            <ion-card-title>Contact us for support</ion-card-title>
        </ion-card-content>
        <ion-item>
        <p>Bhilwara Infotechnology Limited
            #244, Fortune Summit Business Park
            1st Floor, Hosur Road 
            Near Silk Board Junction
            Bengaluru, India – 560068.<br>
            Phone: +91-80-46306666<br>
            e-mail: info@bhilwarainfo.com<br>
            Click <a href="http://bhilwarainfo.com/index.php/contact-us/">here </a>for more information.</p>
          </ion-item>
      </ion-card>
  
  
</ion-content>
